/* eslint no-use-before-define: 0 */

.error-container {
  background: linear-gradient(
    90deg,
    rgba(#3dbbef, $alpha: 1),
    rgba(#403f9b, $alpha: 1)
  );
  @apply h-screen flex flex-col;

  .error-mobile {
    height: 70vh;
    @apply w-9/12 max-w-lg m-auto bg-white rounded-lg flex flex-col;

    .error-nav {
      color: #232323;
      @apply text-center p-2 font-semibold;
    }

    .error-body {
      height: 28rem;
      background: linear-gradient(
        90deg,
        rgba(#3dbbef, $alpha: 0.5),
        rgba(#403f9b, $alpha: 0.5)
      );
      @apply flex flex-col justify-center items-center;

      h1 {
        @screen sm {
          font-size: 6rem;
        }

        @apply text-6xl font-bold;
      }

      p {
        @apply text-xl -mt-5;
      }

      .error-btn-body {
        @apply px-3 mt-4 rounded bg-white;
      }
    }

    .error-footer {
      background: rgba($color: #fff, $alpha: 0.25);

      @apply flex items-center p-3 rounded-b-lg;

      img {
        height: 3.5rem;
        @apply mr-3;
      }

      .error-body-footer {
        @apply w-4/5 text-base;
      }

      .error-footer-bottom {
        @apply flex justify-center;

        .alert {
          line-height: 2rem;
          @apply w-8 h-8 bg-gray-500 text-center text-white font-bold rounded-full;
        }
      }
    }
  }
}
